{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Questiontext</th>
                <td>{{ question.questionText }}</td>
            </tr>
            <tr>
                <th>Questiontexten</th>
                <td>{{ question.questionTextEn }}</td>
            </tr>
            <tr>
                <th>Attachement</th>
                <td>{{ question.attachement }}</td>
            </tr>
            <tr>
                <th>Responsetype</th>
                <td>{{ question.responseType }}</td>
            </tr>
            <tr>
                <th>Postion</th>
                <td>{{ question.postion }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ question.mode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('question_edit', { 'id': question.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
